@import url('./fonts/clash-grotesk.css');
@import url('./tailwind.css');
@import url('./reset.css');

html,
body {
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  @apply bg-[#161616] font-sans;
}

button {
  @apply cursor-pointer border-0 border-none bg-transparent outline-none;
}

svg.social-link-icon {
  @apply text-[#A2FF00] transition-colors group-hover:text-[#8ad900];
}

body[data-navbar='mobile'] {
  max-height: 100vh;
  overflow: hidden;
}

nav[data-open='true'] {
  @apply flex;
}

nav[data-open='false'] {
  @apply hidden;
}

.desktop-navbar-item {
  @apply inline-block cursor-pointer px-3 py-4 font-sans text-[15px] font-medium leading-[28px] text-[#F6FCDC] no-underline transition-colors hover:text-[#e5f69b];
}

.desktop-navbar-item.is--first {
  @apply pl-6;
}

.desktop-navbar-item.is--last {
  @apply pr-6;
}

.mobile-navbar-item {
  @apply font-serif text-[30px] leading-[29px] tracking-[0px] text-[#6C7361] no-underline;
}

.mobile-navbar-item[data-highlight='true'] {
  @apply font-bold text-[#A2FF00];
}
