<div class="relative h-[calc(100vh-147px)] w-full overflow-auto bg-black pb-[16px] pt-[131px]">
  <img
    id="menu-close"
    src="../assets/images/menu-x.svg"
    alt=""
    class="absolute left-[29px] top-[33px] h-[22.24px] w-[22.06px]"
    onclick="closeMenu()"
  />
  <div class="flex w-full flex-col items-center gap-[35px]">
    <a
      href="/"
      class="font-serif text-[30px] leading-[29px] tracking-[0px] text-[#6C7361] no-underline"
      >Home</a
    >
    <a
      href="/about.html"
      class="font-serif text-[30px] leading-[29px] tracking-[0px] text-[#6C7361] no-underline"
      >About Us</a
    >
    <a
      href="/"
      class="font-serif text-[30px] leading-[29px] tracking-[0px] text-[#6C7361] no-underline"
      >Games</a
    >
    <a
      href="/"
      class="font-serif text-[30px] leading-[29px] tracking-[0px] text-[#6C7361] no-underline"
      >Services</a
    >
    <a
      href="/"
      class="font-serif text-[30px] leading-[29px] tracking-[0px] text-[#6C7361] no-underline"
      >Portfolio</a
    >
    <a
      href="/"
      class="font-serif text-[30px] leading-[29px] tracking-[0px] text-[#6C7361] no-underline"
      >Blog</a
    >
    <a
      href="/contact.html"
      class="font-serif text-[30px] leading-[29px] tracking-[0px] text-[#6C7361] no-underline"
      >Get in Touch</a
    >
  </div>
  <div class="mx-auto mt-[102px] flex max-w-[372px] items-center justify-between">
    <p class="w-[80px] text-center align-middle font-serif text-[12px] text-white">2024 Acedia</p>
    <p class="w-[97px] text-center align-middle font-serif text-[12px] text-white">
      Copyright Policy
    </p>
  </div>
</div>
