<section
  class="max-w-screen absolute left-0 top-0 z-10 flex h-full max-h-screen w-full justify-center"
>
  <div class="absolute left-0 top-0 flex h-[140px] w-full items-center justify-between">
    <div class="order-1 lg:hidden">
      <div class="px-8">
        <button type="button" onclick="toggleNavbar('mobile')">
          <img
            id="menu-icon"
            src="assets/images/menu-icon.svg"
            alt="Hamburger Icon"
            width="20px"
            height="20px"
          />
        </button>
      </div>
    </div>
    <div class="order-2">
      <div class="px-8">
        <a href="/">
          <img src="./assets/images/acedia-06.png" width="159" height="52" alt="Acedia Logo" />
        </a>
      </div>
    </div>
  </div>

  <!-- Desktop Navbar -->
  <nav class="is--desktop hidden py-10 lg:block">
    <ul class="flex items-center justify-center gap-0 rounded-full bg-[#F6FCDC] bg-opacity-20">
      <li>
        <a href="/" class="desktop-navbar-item is--first">Home</a>
      </li>
      <li>
        <a href="/about" class="desktop-navbar-item">About Us</a>
      </li>
      <li>
        <a href="/#our-work" class="desktop-navbar-item">Games</a>
      </li>
      <li>
        <a href="/#our-services" class="desktop-navbar-item">Services</a>
      </li>
      <li>
        <a href="/#portfolio" class="desktop-navbar-item">Portfolio</a>
      </li>
      <li>
        <a href="/contact" class="desktop-navbar-item is--last">Get in Touch</a>
      </li>
    </ul>
  </nav>

  <!-- Mobile Navbar -->
  <nav
    class="is--mobile sticky z-50 flex h-screen w-screen flex-col items-center justify-center overflow-auto bg-black"
    data-open="false"
  >
    <button
      type="button"
      onclick="toggleNavbar('desktop')"
      class="absolute left-0 top-0 px-10 py-14"
    >
      <img
        id="menu-close"
        src="../assets/images/menu-x.svg"
        alt="X Icon"
        width="22px"
        height="22px"
      />
    </button>

    <ul class="flex w-full flex-col items-center gap-[35px]">
      <li>
        <a href="/" class="mobile-navbar-item">Home</a>
      </li>
      <li>
        <a href="/about" class="mobile-navbar-item">About Us</a>
      </li>
      <li>
        <a href="/#our-work" class="mobile-navbar-item">Games</a>
      </li>
      <li>
        <a href="/#our-services" class="mobile-navbar-item">Services</a>
      </li>
      <li>
        <a href="/#portfolio" class="mobile-navbar-item">Portfolio</a>
      </li>
      <li>
        <a href="/contact" class="mobile-navbar-item">Get in Touch</a>
      </li>
    </ul>

    <div
      class="absolute bottom-0 left-1/2 flex w-full -translate-x-1/2 items-center justify-center gap-4 py-12 text-center font-serif text-xs text-white"
    >
      <!-- Gets updated by javascript -->
      <p><span id="auto-date"></span> Acedia</p>
      <p>Copyright Policy</p>
    </div>
  </nav>
</section>
