<ul class="flex items-center justify-center gap-0 rounded-full bg-[#F6FCDC] bg-opacity-20">
  <li>
    <button type="button" class="navbar-item is--first">Home</button>
  </li>
  <li>
    <button type="button" class="navbar-item">About Us</button>
  </li>
  <li>
    <button type="button" class="navbar-item">Games</button>
  </li>
  <li>
    <button type="button" class="navbar-item">Services</button>
  </li>
  <li>
    <button type="button" class="navbar-item">Portfolio</button>
  </li>
  <li>
    <button type="button" class="navbar-item">Blog</button>
  </li>
  <li>
    <button type="button" class="navbar-item is--last">Get in Touch</button>
  </li>
</ul>
