<ul class="flex items-center justify-center gap-0 rounded-full bg-[#F6FCDC] bg-opacity-20">
  <li>
    <a href="/" class="navbar-item is--first">Home</a>
  </li>
  <li>
    <a href="/about.html" class="navbar-item">About Us</a>
  </li>
  <li>
    <a href="/#our-work" class="navbar-item">Games</a>
  </li>
  <li>
    <a href="/#our-services" class="navbar-item">Services</a>
  </li>
  <li>
    <a href="/#portfolio" class="navbar-item">Portfolio</a>
  </li>
  <li>
    <a href="/#blog" class="navbar-item">Blog</a>
  </li>
  <li>
    <a href="/contact.html" class="navbar-item is--last">Get in Touch</a>
  </li>
</ul>
